# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

.env
node_modules
backend/media
backend/db.sql
dist-ssr
notes
*.local


# Editor directories and files
.vscode/*
!.vscode/extensions.json
db.sqlite3
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/vite.svg
backend/djangoconf/__pycache__
backend/board/migrations/__pycache__
backend/board/__pycache__
backend/__pycache__
