.board-list {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
}

@media (min-width: 768px) {
    .board-list {
        margin: 0 15% 0 15%;
    }
}

.board-list tr {
    padding: 5px;
    color: darkgray;
}

.board-list td {
    border: 1px solid gray;
}

.board-list th, .board-list td {
    padding: 10px;
    text-align: center;
}

.board-list th {
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.board-list-title:hover {
    color: white;
}
