#boards-nav {
    max-width: 500px;
    /*margin: 10vh auto auto;*/
    margin: 5% 0 0 20%
}

#boards-nav a {
    line-height: 190%;
    /*width: min-content;*/
    font-size: large;
}

li {
    list-style: none;
}

.board-category {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 50vh;
}

.board-category li {
    margin-right: 1rem;
}

.board-category:nth-child(2) {
    margin-top: 20px;
}

.board-category:last-of-type li:last-child span {
    display: none;
}

.board-category li:last-child {
    color: #75b0ee;
}

.userboards svg {
    margin-right: 10px;
    position: relative;
    top: 3px;
    cursor: pointer;
}

.boards, .userboards {
    text-decoration: underline;
    font-weight: bold;
}

.modal {
    background: inherit;
    position: fixed;
    left: 50%;
    top: 30%;
    transform: translate(-50%, 0);
    color: white;
    border: 1px solid var(--borderColor);
}

.modal form {
    padding: 30px;
}

.modal header {
    text-align: center;
    padding: 10px;
    color: darkgray;
    font-size: larger;
}

.modal input {
    color: white;
    padding: 10px 10px 10px 10px;
    outline: 0;
    border: 1px solid var(--borderColor);
}

.modal input::placeholder {
    text-align: center;
    font-size: larger;
}

.modal button {
    width: auto;
}

.modal .input-wrap {
    margin-bottom: 20px;
}

.modal sub {
    display: block;
    color: gray;
}

.modal .error {
    font-size: small;
    color: orangered;
    display: block;
    text-align: center;
}

.post-count {
    font-size: small;
    color: #75b0ee;
    margin-left: 0.1rem;
}
