.thread {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}

.thread-link {
    color: #f7dcbe;
}

.post {
    clear: both;
    padding: 0.5rem;
    white-space: pre-wrap;
    margin: 0.5rem;
}

.post header {
    margin-bottom: 0.5rem;
    color: var(--textColor2);
}

.post header > * {
    margin-right: 0.5rem;
}

.poster {
    color: var(--textColor);
}

.reply-post {
    background-color: var(--textAreaBg);
    border: 1px solid var(--borderColor);
}

.postId {
    cursor: pointer;
    color: #bcc6da;
}

.post-text {
    overflow: auto;
    margin: 0.5rem 0 0.5rem 0;
    max-width: 1000px;
    word-break: break-all;
}

.board-route .post-text {
    max-height: 500px;
}

.post-images-cont {
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 768px) {
    .post-images-cont {
        float: none !important;
    }
}

.dropdown-menu {
    position: absolute;
    z-index: 10;
}

.dropdown-btn {
    cursor: pointer;
}

.edit-menu {
    border-width: 2px;
    border-style: dotted;
}

.edit-post-textarea {
    /*overflow: scroll;*/
    padding-bottom: 2.5rem;
    outline: 0;
    resize: both;
    color: inherit;
    width: 100%;
    border-width: 2px;
    border-style: dotted;
    border-color: var(--borderColor);
    font: inherit;
}

.edit-post-errors {
    float: right;
    color: #EF4444;
    font-size: 1.125rem;
    line-height: 1.75rem;
    text-align: center;
}

@media (max-width: 768px) {
    .img {
        max-width: 150px;
    }
}

.post-text a {
    color: var(--postLinkColor);
}
