.thread {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}

.post {
    clear: both;
    padding: 0.5rem;
    white-space: pre-wrap;
    margin: 0.5rem;
}

.post header {
    margin-bottom: 1%;
}

.post header > * {
    margin-right: 0.5rem;
}

.reply-post {
    background-color: rgb(30 41 59);
    border: 1px solid rgb(75 85 99);
}

.postId {
    cursor: pointer;
}

.post-text {
    overflow: auto;
    margin: 0;
    max-width: 1000px;
}

@media (max-width: 768px) {
    .post-text {
        overflow: visible;
    }
}


.dropdown-menu {
    position: absolute;
    z-index: 10;
}

.dropdown-btn {
    cursor: pointer;
}

.files-cont {
    display: flex;
}

.edit-menu {
    border-width: 2px;
    border-style: dotted;
}

.edit-post-textarea {
    /*overflow: scroll;*/
    padding-bottom: 2.5rem;
    outline: 0;
    resize: both;
    color: inherit;
    width: 100%;
    border-width: 2px;
    border-style: dotted;
    border-color: lightblue;
    font: inherit;
}

.edit-post-errors {
    float: right;
    color: #EF4444;
    font-size: 1.125rem;
    line-height: 1.75rem;
    text-align: center;
}

@media (max-width: 768px) {
    .img {
        max-width: 150px;
    }
}
