@tailwind base;
@tailwind components;
@tailwind utilities;

.quote-link {
    color: rgb(232, 170, 81);
    font-size: small;
}

body {
    background-color: #0f172a;
    /*font-size: 13px;*/
    color: darksalmon;
}

#img-wrapper {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 8px 8px 8px;
    background-color: rgb(85, 85, 85);
}

#expanded-img {
    max-width: 90vw;
    max-height: 90vh;
}
