@tailwind base;
@tailwind components;
@tailwind utilities;

.quote-link {
    color: rgb(232, 170, 81);
    font-size: small;
}

body {
    background-color: #0f172a;
    /*font-size: 13px;*/
    color: darksalmon;
}
